body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b3b3b3;
}
h1{
font-size:50px;
margin:0;
text-align: center; background-color:#661a00; 
color:white;
}
h2{
margin:30px;
text-align: center;
}
h3{

}
.topnav {
background-color: #4d4d4d;
overflow: hidden;
}
.topnav a {
float: left;
color: red;
padding: 14px 16px;
text-align: center;
text-decoration: none;
font-size: 17px;
}
.topnav a.right {
float: right;
color: red;
padding: 14px 16px;
text-align: center;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #b3b3b3;
color: black;
}

.topnav a.active {
background-color:white;
color: black;
}
.table table{
width:90%;
margin:30px;
border-collapse: collapse;
}
.table td.keretjobb{
margin-right: 20px;
padding-right:15%;
border: 3px solid black;
padding: 20px;
text-align: center;
}
.table td.keretbal{
margin-left: 20px;
padding-left:15%;
border: 3px solid black;
padding: 20px;
text-align: center;
}
.table tr.rendez{
text-align: center;
}

